* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
}

body * {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 90vw;
  min-height: 50vw;
}

.container .logo {
  font-size: 2rem;
  font-weight: bold;
  color: tomato;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.container .carousel {
  display: flex;
  gap: 1rem;
  scroll-behavior: smooth;
  overflow-x: auto;
  position: relative;
}

.container .carousel::-webkit-scrollbar {
  display: none;
}

.container .carousel .item {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 14rem;
  flex: none;
}

.container .carousel .item .image img {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.container .carousel .item .info {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 140px;
}

.container .carousel .item .info .name {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.container .carousel .item .info .oldPrice {
  font-size: 0.8rem;
  text-decoration: line-through;
  color: #c0bdbd;
}

.container .carousel .item .info .price {
  font-size: 1rem;
  background-color: tomato;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.container .buttons {
  margin-top: 1rem;
  display: none;
  width: 100%;
  text-align: left;
}

.container .buttons button {
  font-size: 2rem;
  display: inline-block;
  border: none;
  background: none;
  color: #c0bdbd;
  cursor: pointer;
  transition: color ease 200ms;
}

.container .buttons button:hover {
  color: tomato;
}

@media (min-width: 400px) {
  .container {
    max-width: 75vw;
  }
  .container .buttons {
    display: block;
  }
} ;
